.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
    /* background-color: blue; */
}

/* @media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */